.map-box {
    position: relative;
    height: inherit;
    width: inherit;
}

.map, .track {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.track {
    z-index: 100;
}
.map {
    z-index: 0;
}

